.NavBar{
    background-color: darkblue;
    text-align: center;
    height: 80px;
}

.NavBar__button{
    background-color: darkblue;
    border-color: aquamarine;
    color: aquamarine;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
