.restar{
    background-color: red;
    color: white;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    font-size: 20px;
}

.sumar{
    background-color: green;
    color: white;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    font-size: 20px;
}

.count{
    font-style: #009d7c;
}

.button{
    background-color: #009d7c;
    border-color: green;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-width: 3px;
    border-radius: 5px;
}